<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        He this is Quesiton List page
    </h1>
    <ul>
        {% for question in question_list %}
      <li><a href="{% url 'question-detail' question.id %}"> {{question.question_text}}</a>
         
      </li>
        {% endfor %}
    </ul>
    
</body>
</html>